{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'include/header.html' %}

<div class="grid-container"> 
    <div class="grid-x ">
        <h3 class="cell">Eliminar Usuario "{{ object.username}}" </h3>
        <form class="cell " method="post">{% csrf_token %}
        
            <div class="callout secondary">
                <h5>Desea eliminar este usuario?</h5>
                <button type="submit" class="alert button">Confirmar</button>
            </div>        
        </form>
    </div>
</div>

{% endblock content %}   