{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'include/header.html' %}

 
<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell"> 
            Modificar Contadores
        </h1>
        <div class="cell">
            <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                <div class="cell large-6">
                    <label>Agua:
                        {{form.valor_agua}}                    </label>
                  </div>

                  <div class="cell large-6">
                    <label>Agua1:
                        {{form.agua1}}                    </label>
                  </div>

                  <div class="cell large-6">
                    <label>Agua2:
                        {{form.agua2}}                    </label>
                  </div>

                  <div class="cell large-6">
                    <label>Bombero:
                        {{form.bombero}}                    </label>
                  </div>

                  <div class="cell large-6">
                    <label>Luz: 
                        {{form.valor_luz}}                    </label>
                  </div>

                  <div class="cell large-6">   
                    <label>Gás:
                        {{form.valor_gas}}                    </label>
                  </div>

                  <div class="cell large-6">   
                    <label>Fecha:
                        {{form.fecha_registro}}                    </label>
                  </div>

                  <div class="cell large-6">
                    <label>Empresa: 
                        {{ empresa_seleccionada }}
                    </label>
                </div>

                  <div class="cell">
                    <button class="submit success button" type="submit">Guardar</button>
                  </div>

            </form>
        </div>
    </div>
</div>   

{% endblock content %} 